body {
    font-family: sans-serif;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .quiz-container {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  #answers {
    margin-top: 1rem;
    
    padding: 5px;
    display: inline;

  }